p{
    width: 150px;
    height: 100px;
    color: pink;
    font-family: Arial;
    border-top: 2px dashed blue;
    border-left: 2px dotted green;
    border-bottom: 2px double red;
    border-right: none;
    margin-top: 10px;
    margin-left: 10px;
}